.allproducts {
  margin: 20px auto;
}

.productcontainer {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  padding: 50px;
}

.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
}
.bottomcartbtn {
  display: flex;
  justify-content: center;
}

.bottomcartbtn button {
  background-color: rgb(183, 49, 49);
  border: none;
  padding: 6px 10px;
  color: white;
  font-size: 22px;
  border-radius: 10px;
}
