.cartbutton {
  display: flex;
}

.button {
  margin-right: 4px;

  padding: 4px 12px;
  color: white;
  background-color: #db5050;

  border-radius: 12px;
}
.button:hover {
  cursor: pointer;
  background-color: #d01f1f;
}
.badge {
  color: white;
  margin-right: 5px;
  color: #56ccf2;
  font-size: 22px;
}
